ul{
    width:150px
}

li {
    color;   
}


li{
    border: 1px solid;
    border-color: #4c7755;
    background-color: #47624c;
    
}

.white{
    background-color: aliceblue;
    text-decoration: line-through;
}

.beige{
    background-color: aliceblue;
    text-decoration: line-through;
}